<button type="button" class="btn btn-primary" onclick="open('http://google.com')">Turn on all TV's</button>
<button type="button" class="btn btn-warning">Turn off TV's </button>
<button type="button" class="btn btn-info">Info</button>
<button type="button" class="btn btn-warning">Warning</button>