<button type="button" class="btn btn-primary" onclick='eg("65161651651651651")'>Turn on all TV's</button>
<button type="button" class="btn btn-warning">Turn off TV's </button>
<button type="button" class="btn btn-info">Info</button>
<button type="button" class="btn btn-warning">Warning</button>