    <header>
<div class="container">

    <h1 class="text-center">Master Control</h1>
    <hr>
    <div class="col-xs-12">
        <p class="lead">Want to turn on TV's? Check the switch panel and click Submit.</p>
        <p class="lead">If you like my work bring me a cookie</p>    
    </div>
</div>
</header>


<button type="button" class="btn btn-primary" onclick='eg("65161651651651651")'>Turn on all TV's</button>
<button type="button" class="btn btn-warning">Turn off TV's </button>
<!--<button type="button" class="btn btn-info">Info</button>
<button type="button" class="btn btn-warning">Warning</button>
-->

<div class="container">
    <div class="row">
        <div class="col-xs-12 col-sm-6 col-md-4 col-sm-offset-3 col-md-offset-4">
            <div class="panel panel-default">
                <!-- Default panel contents -->
                <div class="panel-heading">Master control</div>
            
                <!-- List group -->
                <ul class="list-group" style= 'color: black'>
                    <li class="list-group-item">
                        Tripleplay TV's
                        <div class="material-switch pull-right">
                            <input id="someSwitchOptionDefault" name="Turn on all TV's" type="checkbox"/>
                            <label for="someSwitchOptionDefault" class="label-primary"></label>
                        </div>
                    </li>
                    <li class="list-group-item">
                        MagicIfo TV's
                        <div class="material-switch pull-right">
                            <input id="someSwitchOptionPrimary" name="someSwitchOption001" type="checkbox"/>
                            <label for="someSwitchOptionPrimary" class="label-warning"></label>
                        </div>
                    </li>
                    <li class="list-group-item">
                        Sony TV's
                        <div class="material-switch pull-right">
                            <input id="someSwitchOptionSuccess" name="someSwitchOption001" type="checkbox"/>
                            <label for="someSwitchOptionSuccess" class="label-primary"></label>
                        </div>
                    </li>
                    <li class="list-group-item">
                        Porch Video Wall
                        <div class="material-switch pull-right">
                            <input id="someSwitchOptionInfo" name="someSwitchOption001" type="checkbox"/>
                            <label for="someSwitchOptionInfo" class="label-warning"></label>
                        </div>
                    </li>
                    <li class="list-group-item">
                        Bootstrap Switch Warning
                        <div class="material-switch pull-right">
                            <input id="someSwitchOptionWarning" name="someSwitchOption001" type="checkbox"/>
                            <label for="someSwitchOptionWarning" class="label-primary"></label>
                        </div>
                    </li>
                    <li class="list-group-item">
                        Bootstrap Switch Danger
                        <div class="material-switch pull-right">
                            <input id="someSwitchOptionDanger" name="someSwitchOption001" type="checkbox"/>
                            <label for="someSwitchOptionDanger" class="label-warning"></label>
                            <div class="form-group">

                            <break>


        

        
        
                        </div>
                    </li>
                </ul>
            </div>            
        </div>
    </div>
</div>